h1 {
    font-family: 'Ultra', serif;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Sanchez', serif;
    font-weight: 700;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Sanchez', serif;
}